<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-xs-2">
  名前:
  <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
  </div>
    <div class="col-xs-2">
  年齢:
    <%= f.text_field :age, class: "form-control", placeholder: "年齢" %>
  </div>

  <div class="col-xs-3">
  内容:
      <%= f.text_area :body, rows: "3", class: "form-control", placeholder: "内容", id: "disabledTextInput" %>
  </div>
  <br>
  <%= f.submit class: "btn btn-lg btn-success" %>
</div>
<% end %>
